@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    user-select: none;
}

html, body{
    background: #212121;
    min-height: 100vh;
    overflow-x:hidden;
    overflow-y:hidden;
}
.tags {
    color: #515152;
    position: absolute;
    bottom: 0px;
    left: 80px;
    font-size: 18px;
    font-family: 'La Belle Aurore', cursive;

}
.top-tags {
    bottom: auto;
    top: 20px;
}
.texthehe {
    color: #515152;
    font-size: 18px;
    font-family: 'La Belle Aurore', cursive;
}

.sidebar {
    z-index: 1;
    top: 0;
    background: #121212;
    position: fixed;
    left: 0;
    width: 70px;
    height: 100%;
    transition: 0.5s;
    transition-property: left;
    overflow-y: auto;
}

ul {
    height: 100%;
}

.sidebar a{
    width: 100%;
    height: 50px;
    display: flex;
    line-height: 60px;
    text-decoration: none;
    font-size: 20px;
    box-sizing: border-box;
    transition: 0.5s;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar i{
    color: #fff;
}

.mobile_nav{
    display: none;
}


.Hometext,.abouttext, .servicestext, .skilltext, .contacttext{
    font-size: 16px;
    display: none;
}

.servicestext, .contacttext{
    font-size: 14px;
    margin-right: -30%;
}

.home:hover .homeicon {
    display: none;
}

.home:hover .Hometext{
    display: inline;
    color: #c32865;
    text-shadow: 0 0 15px #c32865;
    animation: opacity 0.5s ease-out;
}

.about:hover .usericon{
    display: none;
}

.about:hover .abouttext{
    display: inline;
    color: #c32865;
    text-shadow: 0 0 15px #c32865;
    animation: opacity 0.5s ease-out;
}

.services:hover .servicesicon{
    display: none;
}
.services:hover .servicestext{
    display: inline;
    color: #c32865;
    text-shadow: 0 0 15px #c32865;
    margin-left: -20px;
    animation: opacity 0.5s ease-out;
}

.skill:hover .skillicon{
    display: none;
}
.skill:hover .skilltext{
    display: inline;
    color: #c32865;
    text-shadow: 0 0 15px #c32865;
    animation: opacity 0.5s ease-out;
}

.contact:hover .contacticon{
    display: none;
}
.contact:hover .contacttext{
    display: inline;
    color: #c32865;
    text-shadow: 0 0 15px #c32865;
    margin-left: -20px;
    animation: opacity 0.5s ease-out;
}


.social-icons:hover{
    color: #c32865;
    text-shadow: 0 0 15px #c32865;
}

.social-icons {
    position: absolute;
    bottom: 0;
    cursor: pointer;
    transition: all 0.5s;
}

.container{
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
    left: 20%;
    top: 50px;
}

.container .card {
    position: relative;
    cursor: pointer;
}

.container .card .face {
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container .card .face.face1 {
    position: relative;
    background: #c32865;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container .card:hover .face.face1 {
    background: #222222;
    transform: translateY(0);
}

.container .card .face.face1 .content {
    opacity: 0.8;
    transition: 0.8s;
}

.container .card:hover .face.face1 .content {
    opacity: 1;
}

.container .card .face.face1 .content img {
    max-width: 100px;
    margin-left: 25%;
}

.container .card .face.face1 .content h3 {
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.container .card .face.face2 {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,0.8);
    transform: translateY(-100px);
}

.container .card:hover .face.face2 {
    transform: translateY(0);
}

.container .card .face.face2 .content p {
    margin: 0;
    padding: 0;
}

.container .card .face.face2 .content a {
    margin: 15px 0 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 3px;
    border: 1px solid #333;
}

.container .card .face.face2 .content a:hover {
    background: #333;
    color: #fff;
}

/* Responsive CSS */
@media screen and (max-width: 800px){
    .sidebar{
        display: none;
    }

    .mobile_nav{
        display: block;
        width: calc(100% - 0%);
    }

    .nav_bar{
        background: #222;
        width: calc(100% - 0px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }

    .nav_bar .nav_btn{
        color: #fff;
        font-size: 22px;
        cursor: pointer;
        transition: 0.5s;
        transition-property: color;
    }

    .nav_bar .nav_btn:hover{
        color: #c32865;
        text-shadow: 0 0 15px #c32865;
    }

    .mobile_nav_items{
        height: 50px;
        background: #2F323A;
        display: none;
    }

    .mobile_nav_items a{
        color: black;
        padding-top: 0;
        font-size: 20px;
        margin-left: 30px;
        letter-spacing: 1px;
        line-height: 60px;
        text-decoration: none;
        transition: 0.5s;
        transition-property: background;
    }

    .mobile_nav_items a:hover{
        color: #c32865;
        text-shadow: 0 0 15px #c32865;
    }

    .mobile_nav_items i{
        padding-right: 10px;
    }

    .active{
        display: block;
        animation: opacity 1s ease-out;
    }

    .social-icons{
        display: none;
    }
}