@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    user-select: none;
}

html, body{
    background: #212121;
    overflow-x:hidden;
    overflow-y:hidden;
}

.tags {
    color: #515152;
    position: absolute;
    bottom: 0px;
    left: 80px;
    font-size: 18px;
    font-family: 'La Belle Aurore', cursive;

}
.top-tags {
    bottom: auto;
    top: 0;
}
.texthehe {
    color: #515152;
    font-size: 18px;
    font-family: 'La Belle Aurore', cursive;
}

.banner{
    position: absolute;
    top: 20%;
    left: 0;
    color: #fff;
}

.app-text{
    padding-left: 100px
}

.app-text h1{
    font-size: 60px;
    position: relative;
    display:inline-block;
    color: #c32865;
    margin-top: 10px;
    font-weight: 700;
    line-height: 1.3;
    transition: 0.5s;
}

.sidebar{
    z-index: 1;
    top: 0;
    background: #2f323a;
    position: fixed;
    left: 0;
    width: 70px;
    height: 100%;
    transition: 0.5s;
    transition-property: left;
    overflow-y: auto;
}

.sidebar a{
    color: black;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 35%;
    box-sizing: border-box;
    transition: 0.5s;
}


.sidebar i{
    padding-right: 10px;
    margin-top: 20px;
}

.mobile_nav{
    display: none;
}

.Hometext,.abouttext, .servicestext, .skilltext, .teamtext, .contacttext{
    margin-left: -15px;
    display: none;
}


.home:hover .homeicon {
    display: none;
}

.home:hover .Hometext{
    display: inline;
    color: #c32865;
    text-shadow: 0 0 15px #c32865;
    animation: opacity 0.5s ease-out;
}

.about:hover .usericon{
    display: none;
}

.about:hover .abouttext{
    display: inline;
    color: #c32865;
    text-shadow: 0 0 15px #c32865;
    animation: opacity 0.5s ease-out;
}

.services:hover .servicesicon{
    display: none;
}
.services:hover .servicestext{
    display: inline;
    color: #c32865;
    text-shadow: 0 0 15px #c32865;
    margin-left: -20px;
    animation: opacity 0.5s ease-out;
}

.skill:hover .skillicon{
    display: none;
}
.skill:hover .skilltext{
    display: inline;
    color: #c32865;
    text-shadow: 0 0 15px #c32865;
    animation: opacity 0.5s ease-out;
}

.team:hover .teamicon{
    display: none;
}
.team:hover .teamtext{
    display: inline;
    color: #c32865;
    text-shadow: 0 0 15px #c32865;
    animation: opacity 0.5s ease-out;
}

.contact:hover .contacticon{
    display: none;
}
.contact:hover .contacttext{
    display: inline;
    color: #c32865;
    text-shadow: 0 0 15px #c32865;
    margin-left: -20px;
    animation: opacity 0.5s ease-out;
}

.social-icons{
    font-size: 30px;
    transition: 0.5s;
    margin-left: -5px;
}

.social-icons:hover{
    color: #c32865;
    text-shadow: 0 0 15px #c32865;
}

footer{
    background: #121212;
    padding: 20px 23px;
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.footer{
    margin-left: 40%;
    color: #c32865;
    text-decoration: none;
}
.footer:hover {
    text-decoration: underline;
}


@keyframes opacity  {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 40%;
    }
    80% {
        opacity: 80%;
    }
    90% {
        opacity: 90%;
    }
    100% {
        opacity: 100%;
    }
}

/* Responsive CSS */
@media screen and (max-width: 800px) {
    .app-text h1 {
        font-size: 40px;
    }

    .app-text p {
        font-size: 10px;
    }

    .sidebar {
        display: none;
    }

    .content {
        margin-left: 0;
        margin-top: 0;
        padding: 10px 20px;
        transition: 0s;
    }

    .mobile_nav {
        display: block;
        width: calc(100% - 0%);
    }

    .nav_bar {
        background: #222;
        width: calc(100% - 0px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }

    .nav_bar .nav_btn {
        color: #fff;
        font-size: 22px;
        cursor: pointer;
        transition: 0.5s;
        transition-property: color;
    }

    .nav_bar .nav_btn:hover {
        color: #c32865;
        text-shadow: 0 0 15px #c32865;
    }

    .mobile_nav_items {
        height: 50px;
        background: #2F323A;
        display: none;
    }

    .mobile_nav_items a {
        color: black;
        padding-top: 0;
        font-size: 20px;
        margin-left: 30px;
        letter-spacing: 1px;
        line-height: 60px;
        text-decoration: none;
        transition: 0.5s;
        transition-property: background;
    }

    .mobile_nav_items a:hover {
        color: #c32865;
        text-shadow: 0 0 15px #c32865;
    }

    .mobile_nav_items i {
        padding-right: 10px;
    }

    .active {
        display: block;
        animation: opacity 1s ease-out;
    }

    .social-icons {
        display: none;
    }

    .footer, .copy-right {
        font-size: 10px;
    }

    .tags, .top-tags, .texthehe {
        display: none;
    }

    .animationright{
        margin-top: 300px;
        margin-left: 100px;
    }
}

.wrapper{
    margin-top: 300px;
}

.wrapper h1{
    font-family: 'monospace', cursive;
    font-size: 52px;
    margin-bottom: 60px;
    text-align: center;
}

.team{
    display: flex;
    justify-content: center;
    width: auto;
    text-align: center;
    flex-wrap: wrap;
}

.team .team_member{
    background: #121212;
    margin: 5px;
    width: 300px;
    padding: 20px;
    line-height: 20px;
    color: #8e8b8b;
    position: relative;
}

.team .team_member h3{
    color: #c32865;
    font-size: 26px;
    margin-top: 50px;
}

.team .team_member p.role{
    color: #c32865;
    margin: 12px 0;
    font-size: 12px;
    text-transform: uppercase;
}

.team .team_member .team_img{
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #212121;
}

.team .team_member .team_img img{
    width: 100px;
    height: 100px;
    padding: 5px;
    border-radius: 50%;
}

.team_member:hover{
    border: 1px solid #c32865;
    box-shadow: 0 0 5px #c32865;
}